<link type="text/css" rel="stylesheet" href="__PUBLICURL__/css/style.css">
<script src="__PUBLICURL__/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLICURL__/js/duxui.js" type="text/javascript"></script>
<script src="__PUBLICURL__/js/common.js" type="text/javascript"></script>
<div class="page_function">
  <div class="info">
    <h3>考核管理</h3>
  </div>
</div>
<div class="page_main">
  <div class="page_menu">
  <!--#include file="employees/index_search.html"-->
  </div>
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="10%"><center>ID</center></th>
        <th width="10%">姓名</th>
        <th width="10%">时间</th>
		<th width="10%">状态</th>
        <th width="20%"><center>操作</center></th>
      </tr>
      <!--foreach:{$list $key=>$vo}-->
      <tr id="{$vo.id}" style="text-align:center">
        <td><center>{$vo.id}</center></td>
        <td>{$vo.my_status}</td>
        <td>
			<?php $time=date("Y-m-d",$vo["time"]); echo date("Y年m月",strtotime($time." -1 month ")); ?>
		</td>
        <td><?php if($vo["superior"]==2){ echo "<span style='color:red'>未评价</span>"; }else if($vo["superior"]==3 && $_SESSION["user_yg"]["permissions"]==2){ echo "<span style='color:green'>已评价</span>"; }else if($vo["superior"]==3 && $_SESSION["user_yg"]["permissions"]==3){ echo "<span style='color:green'>部门经理评价</span>"; }else if($vo["superior"]==4){ echo "<span style='color:green'>总裁已评价</span>"; } ?></td>
        <td><center>
		<?php if($vo["superior"]<3 && $_SESSION["user_yg"]["permissions"]==2){ ?>
        <a href="__URL__/edit/id-{$vo.id}-user_id-{$id}">评价</a>
		<?php }else if($vo["superior"]<4 && $_SESSION["user_yg"]["permissions"]==3){ ?>
        <a href="__URL__/edit/id-{$vo.id}-user_id-{$id}">评价</a>
		<?php }else{?>
        <a href="__URL__/edit/id-{$vo.id}-user_id-{$id}-ck_status-1">查看评价</a>
		<?php } ?>
		</center></td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>

<div class="page_tool">
    <div class="page" >{$page}</div>
</div>
<script>
	//删除
	function del(id,obj) 
	{
		var obj;
		var status=confirm("是否确定删除！");
		if(status)
		{
			$.get("__URL__/del",{id:id},function(data){
				alert("删除成功！");
				$("#"+id).css("display","none");
				});
		}
	}
</script>