<!DOCTYPE HTML>
<html>
<head>
    <title>{$action_name}</title>
    <!--#include file="public/header_top.html"-->
    <link rel="stylesheet" type="text/css" href="__PUBLICURL__/css/jquery.datetimepicker.css" />
</head>
<body>
<div id="wrapper">
    <!--#include file="public/header.html"-->
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>{$action_name}</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal" id="menu_form" method="post" action="__URL__/{$action}_save">
                            <input type="hidden" id="formUrl" name="formUrl" value="__URL__/">
                            <input type="hidden" id="formUrlName" name="formUrl" value="{$action}_save">
                            <div class="form-group">
                                <label for="fid" class="col-sm-2 control-label">选择权限组</label>
                                <div class="col-sm-8">
                                    <select name="gid" id="gid" class="form-control1">
                                        <option value="0"></option>
                                        <!--foreach:{$list $l}-->
                                        <option value="{$l.id}" <!--if:{$l["id"]==$info["gid"]}-->selected="selected"<!--{/if}-->>{$l.groupname}</option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherName" class="col-sm-2 control-label">教师姓名</label>
                                <div class="col-sm-8">
                                    <input name="teacherName" type="text" class="form-control1" id="teacherName" placeholder="教师姓名" value="{$info.teacherName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherPassword" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input name="teacherPassword" type="password" class="form-control1" id="teacherPassword" placeholder="密码" value="">
                                </div>
                                <div class="col-sm-2 module_sm">
                                    <p class="help-block">不修改不需填写</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherPhone" class="col-sm-2 control-label">联系方式</label>
                                <div class="col-sm-8">
                                    <input name="teacherPhone" type="text" class="form-control1" id="teacherPhone" placeholder="联系方式" value="{$info.teacherPhone}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherEmail" class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-8">
                                    <input name="teacherEmail" type="text" class="form-control1" id="teacherEmail" placeholder="邮箱" value="{$info.teacherEmail}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherSex" class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-8">
                                    <select name="teacherSex" id="teacherSex" class="form-control1">
                                        <option value="0" <!--if:{$info["teacherSex"]==0}-->selected="selected"<!--{/if}-->>男</option>
                                        <option value="1" <!--if:{$info["teacherSex"]==1}-->selected="selected"<!--{/if}-->>女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherBirth" class="col-sm-2 control-label">出生日期</label>
                                <div class="col-sm-8">
                                    <div class="radio-inline" style="padding-left: 0px;"><label><input name="teacherBirth" type="text" id="teacherBirth" class="form-control1" value="{$info.teacherBirth}"></label></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="graduationSchool" class="col-sm-2 control-label">毕业院校</label>
                                <div class="col-sm-8">
                                    <input name="graduationSchool" type="text" class="form-control1" id="graduationSchool" placeholder="毕业院校" value="{$info.graduationSchool}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherEdu" class="col-sm-2 control-label">学历</label>
                                <div class="col-sm-8">
                                    <select name="teacherEdu" id="teacherEdu" class="form-control1">
                                        <option value="0" <!--if:{$info["teacherEdu"]==0}-->selected="selected"<!--{/if}-->>其他</option>
                                        <option value="1" <!--if:{$info["teacherEdu"]==1}-->selected="selected"<!--{/if}-->>大专</option>
                                        <option value="2" <!--if:{$info["teacherEdu"]==2}-->selected="selected"<!--{/if}-->>本科</option>
                                        <option value="3" <!--if:{$info["teacherEdu"]==3}-->selected="selected"<!--{/if}-->>研究生</option>
                                        <option value="4" <!--if:{$info["teacherEdu"]==4}-->selected="selected"<!--{/if}-->>博士</option>
                                        <option value="5" <!--if:{$info["teacherEdu"]==5}-->selected="selected"<!--{/if}-->>博士后</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherCertification" class="col-sm-2 control-label">教师资格证</label>
                                <div class="col-sm-8">
                                    <input name="teacherCertification" type="text" class="form-control1" id="teacherCertification" placeholder="教师资格证" value="{$info.teacherCertification}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="courseName" class="col-sm-2 control-label">所教科目</label>
                                <div class="col-sm-8">
                                    <select name="courseName" id="courseName" class="form-control1">
                                        <option value="0" <!--if:{$info["courseName"]==0}-->selected="selected"<!--{/if}-->>请选择</option>
                                        <option value="1" <!--if:{$info["courseName"]==1}-->selected="selected"<!--{/if}-->>语文</option>
                                        <option value="2" <!--if:{$info["courseName"]==2}-->selected="selected"<!--{/if}-->>数学</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherEmergencyPhone" class="col-sm-2 control-label">应急联系方式</label>
                                <div class="col-sm-8">
                                    <input name="teacherEmergencyPhone" type="text" class="form-control1" id="teacherEmergencyPhone" placeholder="应急联系方式" value="{$info.teacherEmergencyPhone}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherAddress" class="col-sm-2 control-label">教师住址</label>
                                <div class="col-sm-8">
                                    <input name="teacherAddress" type="text" class="form-control1" id="teacherAddress" placeholder="教师住址" value="{$info.teacherAddress}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="teacherTitle" class="col-sm-2 control-label">教师职称</label>
                                <div class="col-sm-8">
                                    <input name="teacherTitle" type="text" class="form-control1" id="teacherTitle" placeholder="教师职称" value="{$info.teacherTitle}">
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input type="hidden" name="teacherId" id="teacherId" value="{$info.teacherId}">
                                        <button type="button" class="btn btn-primary" onclick="submitteacherform()">提交</button>
                                        <button class="btn-default btn" onclick="history.go(-1)">返回</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLICURL__/kg/js/bootstrap.min.js"></script>
<script src="__PUBLICURL__/js/jquery.datetimepicker.js" type="text/javascript"></script>
<script>
    $('#teacherBirth').datetimepicker({
        format: 'Y-m-d',//显示格式
    });
</script>
</body>
</html>
