<!DOCTYPE HTML>
<html>
<head>
    <title>{$action_name}</title>
    <!--#include file="public/header_top.html"-->
    <link rel="stylesheet" type="text/css" href="__PUBLICURL__/css/jquery.datetimepicker.css" />
</head>
<body>
<div id="wrapper">
    <!--#include file="public/header.html"-->
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>{$action_name}</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal" id="menu_form" method="post" action="__URL__/{$action}_save">
                            <input type="hidden" id="formUrl" name="formUrl" value="__URL__/">
                            <input type="hidden" id="formUrlName" name="formUrl" value="{$action}_save">
                            <div class="form-group">
                                <label for="usersName" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <input name="usersName" type="text" class="form-control1" id="usersName" placeholder="用户名" value="{$info.usersName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="usersPassword" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input name="usersPassword" type="password" class="form-control1" id="usersPassword" placeholder="密码" value="">
                                </div>
                                <div class="col-sm-2 module_sm">
                                    <p class="help-block">不修改不需填写</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="studentName" class="col-sm-2 control-label">学生名称</label>
                                <div class="col-sm-8">
                                    <input name="studentName" type="text" class="form-control1" id="studentName" placeholder="学生名称" value="{$info.studentName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="studentAge" class="col-sm-2 control-label">生日</label>
                                <div class="col-sm-8">
                                    <input name="studentAge" type="text" id="studentAge" class="form-control1" value="{$info.studentAge}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="studentSex" class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-8">
                                    <select name="studentSex" id="studentSex" class="form-control1">
                                        <option value="0" <!--if:{$info["studentSex"]==0}-->selected="selected"<!--{/if}-->>男</option>
                                        <option value="1" <!--if:{$info["studentSex"]==1}-->selected="selected"<!--{/if}-->>女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="classId" class="col-sm-2 control-label">选择班级</label>
                                <div class="col-sm-8">
                                    <select name="classId" id="classId" class="form-control1">
                                        <option value="0"></option>
                                        <!--foreach:{$classlist $l}-->
                                        <option value="{$l.classId}" <!--if:{$l["classId"]==$info["classId"]}-->selected="selected"<!--{/if}-->>{$l.className}</option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input type="hidden" name="usersId" id="usersId" value="{$info.usersId}">
                                        <button type="button" class="btn btn-primary" onclick="submitusersform()">提交</button>
                                        <button class="btn-default btn" onclick="history.go(-1)">返回</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLICURL__/kg/js/bootstrap.min.js"></script>
<script src="__PUBLICURL__/js/jquery.datetimepicker.js" type="text/javascript"></script>
<script>
    $('#studentAge').datetimepicker({
        format: 'Y-m-d',//显示格式
    });
</script>
</body>
</html>
