    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="__PUBLICURL__/kg/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="__PUBLICURL__/kg/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="__PUBLICURL__/kg/css/lines.css" rel='stylesheet' type='text/css' />
    <link href="__PUBLICURL__/kg/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="__PUBLICURL__/kg/js/jquery.min.js"></script>
    <!-- Nav CSS -->
    <link href="__PUBLICURL__/kg/css/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUBLICURL__/kg/js/metisMenu.min.js"></script>
    <script src="__PUBLICURL__/kg/js/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="__PUBLICURL__/kg/js/d3.v3.js"></script>
    <script src="__PUBLICURL__/kg/js/rickshaw.js"></script>
    <script src="__PUBLICURL__/layer/layer.js"></script>
    <script src="__PUBLICURL__/js/jquery.form.js"></script>
    <script>
        var urls='{$appurl}';
    </script>
    <script src="__PUBLICURL__/js/validation.form.js"></script>