<!DOCTYPE HTML>
<html>
<head>
    <title>MENU管理</title>
    <!--#include file="public/header_top.html"-->
</head>
<body>
<div id="wrapper">
    <!--#include file="public/header.html"-->
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>MENU管理</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal" id="menu_form" method="post" action="__URL__/{$action}_save">
                            <div class="form-group">
                                <label for="groupname" class="col-sm-2 control-label">权限组名称</label>
                                <div class="col-sm-8">
                                    <input name="groupname" type="text" class="form-control1" id="groupname" placeholder="权限组名称" value="{$info.groupname}">
                                </div>
                                <div class="col-sm-2 menuname_sm" style="display: none">
                                    <p class="help-block" style="color: red">ERROR</p>
                                </div>
                            </div>
                            <!--foreach:{$menu_list $ml}-->
                            <div class="form-group">
                                <label for="radio" class="col-sm-2 control-label">{$ml.menuname}</label>
                                <div class="col-sm-8">
                                    <div class="radio-inline"><label><input name="model_power[]" type="checkbox" <!--if:{in_array($ml["id"],$model_power)}-->checked="checked"<!--{/if}--> value="{$ml.id}"> {$ml.menuname}</label></div>
                                    <!--foreach:{$ml["menus"] $m}-->
                                    <div class="radio-inline"><label><input name="model_power[]" type="checkbox" <!--if:{in_array($m["id"],$model_power)}-->checked="checked"<!--{/if}--> value="{$m.id}"> {$m.menuname}</label></div>
                                    <!--{/foreach}-->
                                </div>
                            </div>
                            <!--{/foreach}-->
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input type="hidden" name="id" value="{$info.id}">
                                        <button type="button" class="btn btn-primary" onclick="submits()">提交</button>
                                        <button class="btn-default btn" onclick="history.go(-1)">返回</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLICURL__/kg/js/bootstrap.min.js"></script>
<script>
    function submits()
    {
        if(confirm("是否确定提交！"))
        {
            $("#menu_form").submit();
        }
    }
</script>
</body>
</html>
